@model SchoolApp.Models.ForgotPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Mankeytech School App</title>
    <meta name="description" content="The School Management System" />
    <meta name="author" content="MankeyTech (Pty) Ltd">

    @Html.Partial("_LayoutCssPartial")
    

</head>
<body>
    <div>
        <!-- ############ LAYOUT START-->
        <div class="center-block w-xxl w-auto-xs p-y-md">
            <div class="navbar">
                <div class="pull-center">
                    @Html.Partial("_LayoutHeaderPartial")
                </div>
            </div>
            <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
                <div class="m-b">
                    <b>Forgot your password?</b>
                    <p class="text-xs m-t"><b>Enter your email address below and we will send you instructions on how to change your password.</b></p>

                </div>
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @name = "reset" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="md-form-group float-label">
                        @Html.TextBoxFor(m => m.Email, new { @class = "md-input" })
                        <label>Your Email</label>
                    </div>
                    <input type="submit" class="btn primary btn-block p-x-md" value="Send" />
                }
            </div>
            <p id="alerts-container"></p>
            <div class="p-v-lg text-center">Return to <a href="@Url.Action("Login","Account")" class="text-primary _600">Sign in</a></div>
        </div>
        <!-- ############ LAYOUT END-->
    </div>
    <!-- build:js ../Scripts/app.html.js -->
    @Html.Partial("_LayoutJSPartial")
    <!-- endbuild -->
</body>
</html>
